---
import ShopItems from '../../components/shop-items/shop-items';
import CartFlyoutToggle from '../../components/cart-flyout-toggle/cart-flyout-toggle';
import CartFlyout from '../../components/cart-flyout/cart-flyout';
import Layout from '../../layouts/layout.astro';
import { getEntryBySlug } from 'astro:content';
import products from '../../data/products.json';

export async function getStaticPaths() {
  const page = await getEntryBySlug('pages', 'shop');
  return [{ params: page.data }];
}

const page = await getEntryBySlug('pages', 'shop');
const frontmatter = page.data;
---

<Layout {...frontmatter}>
  <launch-cart
    url="wss://elements.launchscout.com/socket"
    store-id="3a7d9ef7-a08e-462f-91e1-f82ef50fa308"></launch-cart>
  <launch-cart-additem price-id="price_1Nww7HJS2vAZDHNripQNJjh6">
    <button>Add to cart!</button>
  </launch-cart-additem>
  <ShopItems shop_items={products} page_size={frontmatter.page_size} />
</Layout>
